* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic page styling */
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.btn {
  padding: 8px 14px;
  background: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-right: 10px; /* <-- ADD THIS */
}


.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

h1, h2 {
  margin-bottom: 20px;
  color: rgb(247, 11, 11);
}
.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}
