
.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.btn {
  padding: 8px 14px;
  background: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-right: 10px; 
}


.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

h1, h2 {
  margin-bottom: 20px;
  color: rgb(247, 11, 11);
}
.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #f3f5f7;
  color: #222;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  color: #0056e0;
  margin-right: 10px;
}

.nav-link {
  color: #0056e0;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-btn {
  padding: 7px 14px;
  background: #111;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.center-wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.card {
  background: white;
  padding: 40px 50px;
  border-radius: 12px;
  width: 100%;
  max-width: 560px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.08);
  text-align: center;
  animation: fadeIn 0.4s ease;
}


.title {
  font-size: 28px;
  font-weight: bold;
  color: #d90404;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 25px;
}


.btn-group {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  transition: 0.2s ease-out;
}

.btn.primary {
  background: #111;
  color: white;
}

.btn.primary:hover {
  background: #222;
}

.btn.secondary {
  background: #e3e4e6;
  color: #111;
}

.btn.secondary:hover {
  background: #d4d5d7;
}

.enter-link {
  display: inline-block;
  margin-top: 15px;
  color: #0056e0;
  font-weight: bold;
  text-decoration: none;
}

.enter-link:hover {
  text-decoration: underline;
}

/* SIMPLE FADE ANIMATION */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}
